.countainer {
    width: 100%;
}

.sideBar{
    width: 284px;
    height: 129px;
    margin-top: 10px;
    margin-right: 19px;   
    border: 2px solid #000;
    border-radius: 0;
    box-shadow: 2px 1px 2px 1px rgba(0,0,0,0.84);
   
    
}

.sideBar__header {
    width: 281px;
    height: 35px;
    border-radius: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;    
    background-color: #0d6efd;
    border-bottom: 2px solid #000;
    font-weight: 700;
}

.sideBar__body {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;    

}
